.flex-end,
.flex-rows,
.flex-start,
.flex-around,
.flex-center,
.flex-between,
.flex-columns {
  display: flex;
}

.flex-columns {
  flex: 1;
  flex-direction: row;
}

.flex-rows {
  flex: 1;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-inverse {
  flex-wrap: wrap-reverse;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-wrapper {
  @extend .flex-columns;
  @extend .flex-between;

  flex-wrap: wrap;
}


.flex-none {
  flex: none;
}

$flexSpaces: () !default;

@each $flexSpace in $flexSpaces {
  .flex-#{$flexSpace} {
    flex: #{$flexSpace};
  }
}

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0
}
